
.Pixso-symbol-3_86 {
        
      }
.Pixso-symbol-3_87 {
        width: 400px;
height: 52px;
position: relative;
display: flex;
flex-direction: column;
align-items: center;
padding: 0px 16px 1px 16px;
      }
.Pixso-instance-3_92 {
        width: 368px;
height: 1px;
position: relative;
flex-shrink: 0;
      }
.Pixso-frame-3_93 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
flex-grow: 1;
      }
.frame-content-3_93 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: flex-start;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-paragraph-3_94 {
        font-size: 17px;
font-family: "SF Pro-Semibold";
font-weight: 590;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
line-height: 22px;
color: var(--labels-secondary);
width: 32px;
height: 50px;
position: relative;
flex-shrink: 0;
align-self: stretch;
      }
.Pixso-frame-3_95 {
        width: 100%;
height: 50px;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
align-self: stretch;
      }
.Pixso-instance-3_96 {
        width: 280px;
height: 6px;
position: absolute;
left: 0px;
top: 22px;
      }
.Pixso-instance-3_97 {
        width: 280px;
height: 6px;
position: absolute;
left: 0px;
top: 22px;
      }
.Pixso-frame-3_98 {
        width: calc(100% - 32px);
height: 24px;
position: absolute;
left: 16px;
right: 16px;
top: 50%;
transform: translateY(calc(-50% + 0px));
      }
.Pixso-instance-3_99 {
        width: 248px;
height: 4px;
position: absolute;
left: 0px;
top: 19px;
      }
.Pixso-instance-3_100 {
        width: 1.112195px;
height: 24px;
position: absolute;
right: 2px;
top: 50%;
transform: rotateY(180deg)translateY(calc(-50% + 0px));
      }
.Pixso-paragraph-3_101 {
        font-size: 17px;
font-family: "SF Pro-Semibold";
font-weight: 590;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
line-height: 22px;
color: var(--labels-secondary);
width: 32px;
height: 50px;
position: relative;
flex-shrink: 0;
align-self: stretch;
      }
.Pixso-symbol-3_88 {
        width: 400px;
height: 52px;
position: relative;
display: flex;
flex-direction: column;
align-items: center;
padding: 0px 16px 1px 16px;
      }
.Pixso-instance-3_102 {
        width: 368px;
height: 1px;
position: relative;
flex-shrink: 0;
      }
.Pixso-frame-3_103 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
flex-grow: 1;
      }
.frame-content-3_103 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: flex-start;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-paragraph-3_104 {
        font-size: 17px;
font-family: "SF Pro-Semibold";
font-weight: 590;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
line-height: 22px;
color: var(--labels-secondary);
width: 32px;
height: 50px;
position: relative;
flex-shrink: 0;
align-self: stretch;
      }
.Pixso-frame-3_105 {
        width: 100%;
height: 50px;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
align-self: stretch;
      }
.Pixso-instance-3_106 {
        width: 280px;
height: 6px;
position: absolute;
left: 0px;
top: 22px;
      }
.Pixso-instance-3_107 {
        width: 211.12001px;
height: 6px;
position: absolute;
left: 0px;
top: 22px;
      }
.Pixso-frame-3_108 {
        width: calc(100% - 32px);
height: 24px;
position: absolute;
left: 16px;
right: 16px;
top: 50%;
transform: translateY(calc(-50% + 0px));
      }
.Pixso-instance-3_109 {
        width: 248px;
height: 4px;
position: absolute;
left: 0px;
top: 19px;
      }
.Pixso-instance-3_110 {
        width: 1.104103px;
height: 24px;
position: absolute;
right: 62.38468900000001px;
top: 50%;
transform: rotateY(180deg)translateY(calc(-50% + 0px));
      }
.Pixso-paragraph-3_111 {
        font-size: 17px;
font-family: "SF Pro-Semibold";
font-weight: 590;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
line-height: 22px;
color: var(--labels-secondary);
width: 32px;
height: 50px;
position: relative;
flex-shrink: 0;
align-self: stretch;
      }
.Pixso-symbol-3_89 {
        width: 400px;
height: 52px;
position: relative;
display: flex;
flex-direction: column;
align-items: center;
padding: 0px 16px 1px 16px;
      }
.Pixso-instance-3_112 {
        width: 368px;
height: 1px;
position: relative;
flex-shrink: 0;
      }
.Pixso-frame-3_113 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
align-items: center;
flex-grow: 1;
      }
.frame-content-3_113 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-paragraph-3_114 {
        font-size: 17px;
font-family: "SF Pro-Semibold";
font-weight: 590;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
line-height: 22px;
color: var(--labels-secondary);
width: 32px;
height: 50px;
position: relative;
flex-shrink: 0;
align-self: stretch;
      }
.Pixso-frame-3_115 {
        width: 100%;
height: 50px;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
align-self: stretch;
      }
.Pixso-instance-3_116 {
        width: 280px;
height: 6px;
position: absolute;
left: 0px;
top: 22px;
      }
.Pixso-instance-3_117 {
        width: 142.240021px;
height: 6px;
position: absolute;
left: 0px;
top: 22px;
      }
.Pixso-frame-3_118 {
        width: calc(100% - 32px);
height: 24px;
position: absolute;
left: 16px;
right: 16px;
top: 50%;
transform: translateY(calc(-50% + 0px));
      }
.Pixso-instance-3_119 {
        width: 248px;
height: 4px;
position: absolute;
left: 0px;
top: 19px;
      }
.Pixso-instance-3_120 {
        width: 1.112195px;
height: 24px;
position: absolute;
right: 123.443878px;
top: 50%;
transform: rotateY(180deg)translateY(calc(-50% + 0px));
      }
.Pixso-paragraph-3_121 {
        font-size: 17px;
font-family: "SF Pro-Semibold";
font-weight: 590;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
line-height: 22px;
color: var(--labels-secondary);
width: 32px;
height: 50px;
position: relative;
flex-shrink: 0;
align-self: stretch;
      }
.Pixso-symbol-3_90 {
        width: 400px;
height: 52px;
position: relative;
display: flex;
flex-direction: column;
align-items: center;
padding: 0px 16px 1px 16px;
      }
.Pixso-instance-3_122 {
        width: 368px;
height: 1px;
position: relative;
flex-shrink: 0;
      }
.Pixso-frame-3_123 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
flex-grow: 1;
      }
.frame-content-3_123 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: flex-start;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-paragraph-3_124 {
        font-size: 17px;
font-family: "SF Pro-Semibold";
font-weight: 590;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
line-height: 22px;
color: var(--labels-secondary);
width: 32px;
height: 50px;
position: relative;
flex-shrink: 0;
align-self: stretch;
      }
.Pixso-frame-3_125 {
        width: 100%;
height: 50px;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
align-self: stretch;
      }
.Pixso-instance-3_126 {
        width: 280px;
height: 6px;
position: absolute;
left: 0px;
top: 22px;
      }
.Pixso-instance-3_127 {
        width: 73.919998px;
height: 6px;
position: absolute;
left: 0px;
top: 22px;
      }
.Pixso-frame-3_128 {
        width: calc(100% - 32px);
height: 24px;
position: absolute;
left: 16px;
right: 16px;
top: 50%;
transform: translateY(calc(-50% + 0px));
      }
.Pixso-instance-3_129 {
        width: 248px;
height: 4px;
position: absolute;
left: 0px;
top: 19px;
      }
.Pixso-instance-3_130 {
        width: 1.104103px;
height: 24px;
position: absolute;
right: 184.400726px;
top: 50%;
transform: rotateY(180deg)translateY(calc(-50% + 0px));
      }
.Pixso-paragraph-3_131 {
        font-size: 17px;
font-family: "SF Pro-Semibold";
font-weight: 590;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
line-height: 22px;
color: var(--labels-secondary);
width: 32px;
height: 50px;
position: relative;
flex-shrink: 0;
align-self: stretch;
      }
.Pixso-symbol-3_91 {
        width: 400px;
height: 52px;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px 16px 1px 16px;
      }
.Pixso-instance-3_132 {
        width: 368px;
height: 1px;
position: relative;
flex-shrink: 0;
      }
.Pixso-frame-3_133 {
        width: 100%;
height: auto;
position: relative;
flex-shrink: 0;
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
flex-grow: 1;
border-radius: 0px 0px 1px 0px;
      }
.frame-content-3_133 {
        display: flex;
flex-direction: row;
gap: 12px;
align-items: flex-start;
justify-content: center;
width: 100%;
height: 100%;
position: relative;
      }
.Pixso-paragraph-3_134 {
        font-size: 17px;
font-family: "SF Pro-Semibold";
font-weight: 590;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
line-height: 22px;
color: var(--labels-secondary);
width: 32px;
height: 50px;
position: relative;
flex-shrink: 0;
align-self: stretch;
      }
.Pixso-frame-3_135 {
        width: 100%;
height: 50px;
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
align-self: stretch;
      }
.Pixso-instance-3_136 {
        width: 280px;
height: 6px;
position: absolute;
left: 0px;
top: 22px;
      }
.Pixso-frame-3_137 {
        width: calc(100% - 32px);
height: 24px;
position: absolute;
left: 16px;
right: 16px;
top: 50%;
transform: translateY(calc(-50% + 0px));
      }
.Pixso-instance-3_138 {
        width: 248px;
height: 4px;
position: absolute;
left: 0px;
top: 19px;
      }
.Pixso-instance-3_139 {
        width: 1.112195px;
height: 24px;
position: absolute;
right: 244px;
top: 50%;
transform: rotateY(180deg)translateY(calc(-50% + 0px));
      }
.Pixso-paragraph-3_140 {
        font-size: 17px;
font-family: "SF Pro-Semibold";
font-weight: 590;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
line-height: 22px;
color: var(--labels-secondary);
width: 32px;
height: 50px;
position: relative;
flex-shrink: 0;
align-self: stretch;
      }
.component-3_86 {
        width: fit-content;
height: fit-content;
      }


.Pixso-instance-3_100 {
        background-color: transparent;
border-radius: 100px 100px 100px 100px;
      }
.Pixso-instance-3_100 .Pixso-symbol-3_84  {
        width: 1.112195px;
height: 24px;
      }
.Pixso-instance-3_110 {
        background-color: transparent;
border-radius: 100px 100px 100px 100px;
      }
.Pixso-instance-3_110 .Pixso-symbol-3_84  {
        width: 1.104103px;
height: 24px;
      }
.Pixso-instance-3_120 {
        background-color: transparent;
border-radius: 100px 100px 100px 100px;
      }
.Pixso-instance-3_120 .Pixso-symbol-3_84  {
        width: 1.112195px;
height: 24px;
      }
.Pixso-instance-3_130 {
        background-color: transparent;
border-radius: 100px 100px 100px 100px;
      }
.Pixso-instance-3_130 .Pixso-symbol-3_84  {
        width: 1.104103px;
height: 24px;
      }
.Pixso-instance-3_139 {
        background-color: transparent;
border-radius: 100px 100px 100px 100px;
      }
.Pixso-instance-3_139 .Pixso-symbol-3_84  {
        width: 1.112195px;
height: 24px;
      }
.Pixso-instance-3_99 .Pixso-symbol-3_78  {
        width: 248px;
height: 4px;
      }
.Pixso-instance-3_109 .Pixso-symbol-3_78  {
        width: 248px;
height: 4px;
      }
.Pixso-instance-3_119 .Pixso-symbol-3_78  {
        width: 248px;
height: 4px;
      }
.Pixso-instance-3_129 .Pixso-symbol-3_78  {
        width: 248px;
height: 4px;
      }
.Pixso-instance-3_138 .Pixso-symbol-3_78  {
        width: 248px;
height: 4px;
      }
.Pixso-instance-3_92 .Pixso-symbol-3_69  {
        width: 100%;
height: 100%;
mix-blend-mode: color-burn;
      }
.Pixso-instance-3_92  .stroke-wrapper-3_69 {
        width: 368px;
height: 1px;
      }
.Pixso-instance-3_92  .stroke-3_69 {
        inset: -1px 0px 0px 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 1px 0px 0px 0px;
border-style: solid;
box-sizing: border-box;
border-color: var(--separators-vibrant);
      }
.Pixso-instance-3_102 .Pixso-symbol-3_69  {
        width: 100%;
height: 100%;
mix-blend-mode: color-burn;
      }
.Pixso-instance-3_102  .stroke-wrapper-3_69 {
        width: 368px;
height: 1px;
      }
.Pixso-instance-3_102  .stroke-3_69 {
        inset: -1px 0px 0px 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 1px 0px 0px 0px;
border-style: solid;
box-sizing: border-box;
border-color: var(--separators-vibrant);
      }
.Pixso-instance-3_112 .Pixso-symbol-3_69  {
        width: 100%;
height: 100%;
mix-blend-mode: color-burn;
      }
.Pixso-instance-3_112  .stroke-wrapper-3_69 {
        width: 368px;
height: 1px;
      }
.Pixso-instance-3_112  .stroke-3_69 {
        inset: -1px 0px 0px 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 1px 0px 0px 0px;
border-style: solid;
box-sizing: border-box;
border-color: var(--separators-vibrant);
      }
.Pixso-instance-3_122 .Pixso-symbol-3_69  {
        width: 100%;
height: 100%;
mix-blend-mode: color-burn;
      }
.Pixso-instance-3_122  .stroke-wrapper-3_69 {
        width: 368px;
height: 1px;
      }
.Pixso-instance-3_122  .stroke-3_69 {
        inset: -1px 0px 0px 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 1px 0px 0px 0px;
border-style: solid;
box-sizing: border-box;
border-color: var(--separators-vibrant);
      }
.Pixso-instance-3_132 .Pixso-symbol-3_69  {
        width: 100%;
height: 100%;
mix-blend-mode: color-burn;
      }
.Pixso-instance-3_132  .stroke-wrapper-3_69 {
        width: 368px;
height: 1px;
      }
.Pixso-instance-3_132  .stroke-3_69 {
        inset: -1px 0px 0px 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 1px 0px 0px 0px;
border-style: solid;
box-sizing: border-box;
border-color: var(--separators-vibrant);
      }
.Pixso-instance-3_97 .Pixso-symbol-3_75  {
        width: 280px;
height: 6px;
      }
.Pixso-instance-3_107 .Pixso-symbol-3_75  {
        width: 211.12001px;
height: 6px;
      }
.Pixso-instance-3_117 .Pixso-symbol-3_75  {
        width: 142.240021px;
height: 6px;
      }
.Pixso-instance-3_127 .Pixso-symbol-3_75  {
        width: 73.919998px;
height: 6px;
      }
.Pixso-instance-3_97 .Pixso-rectangle-3_76  {
        width: calc(100% - 0px);
height: 6px;
border-radius: 3px 3px 3px 3px;
background-color: var(--accents-blue);
      }
.Pixso-instance-3_107 .Pixso-rectangle-3_76  {
        width: calc(100% - 0.12001000000000772px);
height: 6px;
border-radius: 3px 3px 3px 3px;
background-color: var(--accents-blue);
      }
.Pixso-instance-3_117 .Pixso-rectangle-3_76  {
        width: calc(100% - 0.24002100000001292px);
height: 6px;
border-radius: 3px 3px 3px 3px;
background-color: var(--accents-blue);
      }
.Pixso-instance-3_127 .Pixso-rectangle-3_76  {
        width: calc(100% - -0.08000199999999325px);
height: 6px;
border-radius: 3px 3px 3px 3px;
background-color: var(--accents-blue);
      }
.Pixso-instance-3_96 .Pixso-symbol-3_72  {
        width: 280px;
height: 6px;
      }
.Pixso-instance-3_106 .Pixso-symbol-3_72  {
        width: 280px;
height: 6px;
      }
.Pixso-instance-3_116 .Pixso-symbol-3_72  {
        width: 280px;
height: 6px;
      }
.Pixso-instance-3_126 .Pixso-symbol-3_72  {
        width: 280px;
height: 6px;
      }
.Pixso-instance-3_136 .Pixso-symbol-3_72  {
        width: 280px;
height: 6px;
      }
.Pixso-instance-3_96 .Pixso-rectangle-3_73  {
        width: calc(100% - 0px);
height: 6px;
border-radius: 3px 3px 3px 3px;
background-color: var(--fills-primary);
      }
.Pixso-instance-3_106 .Pixso-rectangle-3_73  {
        width: calc(100% - 0px);
height: 6px;
border-radius: 3px 3px 3px 3px;
background-color: var(--fills-primary);
      }
.Pixso-instance-3_116 .Pixso-rectangle-3_73  {
        width: calc(100% - 0px);
height: 6px;
border-radius: 3px 3px 3px 3px;
background-color: var(--fills-primary);
      }
.Pixso-instance-3_126 .Pixso-rectangle-3_73  {
        width: calc(100% - 0px);
height: 6px;
border-radius: 3px 3px 3px 3px;
background-color: var(--fills-primary);
      }
.Pixso-instance-3_136 .Pixso-rectangle-3_73  {
        width: calc(100% - 0px);
height: 6px;
border-radius: 3px 3px 3px 3px;
background-color: var(--fills-primary);
      }
