
.Pixso-symbol-3_72 {
        width: 282px;
height: 6px;
position: relative;
      }
.Pixso-rectangle-3_73 {
        width: calc(100% - 0px);
height: 6px;
position: absolute;
left: 0px;
right: 0px;
top: 50%;
transform: translateY(calc(-50% + 0px));
border-radius: 3px 3px 3px 3px;
background-color: var(--fills-primary);
      }
.component-3_72 {
        width: fit-content;
height: fit-content;
      }

