:root, 
[data-collection-10456-163-mode="light"] {
  /* Light */
  --labels-tertiary: rgba(60, 60, 67, 0.3);
  --accents-green: rgba(52, 199, 89, 1);
}

[data-collection-10456-163-mode="dark"] {
  /* Dark */
  --labels-tertiary: rgba(235, 235, 245, 0.3);
  --accents-green: rgba(48, 209, 88, 1);
}

