
.Pixso-symbol-3_67 {
        
      }
.Pixso-symbol-3_68 {
        width: 100%;
height: 100%;
position: relative;
mix-blend-mode: plus-lighter;
      }
.stroke-wrapper-3_68 {
        position: relative;
width: 370px;
height: 1px;
      }
.stroke-3_68 {
        position: absolute;
inset: -1px 0px 0px 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 1px 0px 0px 0px;
border-style: solid;
box-sizing: border-box;
border-color: var(--separators-vibrant);
      }
.Pixso-symbol-3_69 {
        width: 100%;
height: 100%;
position: relative;
mix-blend-mode: color-burn;
      }
.stroke-wrapper-3_69 {
        position: relative;
width: 370px;
height: 1px;
      }
.stroke-3_69 {
        position: absolute;
inset: -1px 0px 0px 0px;
border-radius: 0px 0px 0px 0px;
pointer-events: none;
border-width: 1px 0px 0px 0px;
border-style: solid;
box-sizing: border-box;
border-color: var(--separators-vibrant);
      }
.component-3_67 {
        width: fit-content;
height: fit-content;
      }

