
.Pixso-symbol-1_114 {
        
      }
.Pixso-symbol-1_115 {
        width: 66px;
height: 66px;
overflow: hidden;
position: relative;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url(@/assets/images/a1fda222e8b3db69d6165240af4a7481a5c8ed2d.png);
      }
.Pixso-rectangle-1_118 {
        width: 66px;
height: 100%;
position: absolute;
left: 50%;
top: 0%;
bottom: 0%;
transform: translateX(calc(-50% + 0px));
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url(@/assets/images/7c7f6ebb62636609c4a32e1314732e89bae820a6.png);
      }
.Pixso-symbol-1_116 {
        width: 66px;
height: 66px;
overflow: hidden;
position: relative;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url(@/assets/images/ce712cee18b13ebfad27d5045e0f97b2a0327915.png);
      }
.Pixso-rectangle-1_119 {
        width: 66px;
height: 100%;
position: absolute;
left: 50%;
top: 0%;
bottom: 0%;
transform: translateX(calc(-50% + 0px));
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url(@/assets/images/0063a433efeb8b898c37c90c552b6014726b3d18.png);
      }
.Pixso-symbol-1_117 {
        width: 66px;
height: 66px;
overflow: hidden;
position: relative;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url(@/assets/images/c26d0f4e6f1d97cbbc8bf76776266dd85318da8e.png);
      }
.Pixso-rectangle-1_120 {
        width: 66px;
height: 100%;
position: absolute;
left: 50%;
top: 0%;
bottom: 0%;
transform: translateX(calc(-50% + 0px));
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url(@/assets/images/9ee404c0ae57001eef8b631f83a9acce5f986f38.png);
      }
.component-1_114 {
        width: fit-content;
height: fit-content;
      }

