
.Pixso-symbol-1_124 {
        
      }
.Pixso-symbol-1_125 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
mix-blend-mode: plus-lighter;
      }
.Pixso-paragraph-1_127 {
        font-size: 13px;
font-family: "SF Pro-Regular";
font-weight: 400;
text-align: right;
line-height: 20px;
color: rgba(76.5, 76.5, 76.5, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-symbol-1_126 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
align-items: center;
mix-blend-mode: plus-lighter;
      }
.Pixso-paragraph-1_128 {
        font-size: 13px;
font-family: "SF Pro-Regular";
font-weight: 400;
text-align: right;
line-height: 20px;
color: rgba(76.5, 76.5, 76.5, 1);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.component-1_124 {
        width: fit-content;
height: fit-content;
      }

